<header>
    <div>
        <table width="100%">
            <tr heigh="250px;">
                <td width="25%">
                </td>
                <td width="50%" style="font-size: 3rem; color:#db27d2; padding: 15px; font-family: Georgia, serif;">
                    <a href="#" style="text-decoration: none; text-align: center; vertical-align: middle;">Estore</a>
                </td>
                <td with="25%">
                </td>
            </tr>
            <tr>
                <td width="100%" style="text-align: center; color:black; font-weight: bolder; font-size: 1rem;">
                    E-commerce Application
                    <br>
                </td>
            </tr>
        </table>
    </div>
</header>